
.main {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 15px;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.main__sec {
  background: url('https://images.pexels.com/photos/33242/cooking-ingredient-cuisine-kitchen.jpg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat top center / cover;
}


.main__sec2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  grid-row-gap: 15px;
}

.main__sec__cta, .main__sec2__discover, .main__sec2__sample {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFF;
  text-align: center;
}

.main__sec2__discover {
  /* won't be needing margin due to grid-row-gap on .main and .main__sec*/
  margin: unset;
  margin-bottom: 20px;
  color: initial;
}

.main__sec2__sample {
  margin: unset;
  color: initial;
  flex-basis: 100%;
}

.main__sec2__sample img {
  height: 4rem;
}

.img-row {
  flex-basis: 100%;
  z-index: 1;
}

.main__sec2__sample h2 {
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
}

.best {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.best img {
  transform: rotate(-20deg);
}

.main__sec__cta__logo {
  flex-wrap: wrap;
  flex-basis: 100%;
}

.main__sec__cta__logo > h2, .main__sec2__discover__header > h2 {
  text-transform: uppercase;
  font-family: Prompt, sans-serif;
}

.main__sec2__discover__header > p {
  width: 80%;
}

.main__sec__cta > a {
  margin-bottom: 25px;
}

.main__sec__cta > a, .main__sec2__discover > a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  box-shadow: 0 0 2px 1px #FFF, 0 0 2px 1px rgba(255, 255, 255, 0.5);
  font-weight: bolder;
  text-transform: uppercase;
}

.main__sec2__discover > a {
  box-shadow: 0 0 2px 1px rgb(255, 235, 59), 0 0 2px 1px rgba(255, 186, 0, 0.5);
  color: #151514;
  font-weight: bolder;
}

.logo {
  color: #FFEB3B;
  font-family: 'Great Vibes', cursive;
  font-size: 4.2rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.logo--small {
  font-size: 3.2rem;
  font-style: italic;
  font-weight: bold;
}

.img-row > img {
  width: 4rem;
  height: 3.5rem;
}

.main__sec2__sample img:not(:last-child) {
  margin-right: 5px;
}

@media only screen and (min-width:800px) {

  .main__sec2 {
    grid-template-columns: repeat(2, 40%);
    padding: 30px;
    justify-content: space-evenly;
    grid-column-gap: 15px;
    grid-row-gap: unset;
  }

  .main {
    grid-template-rows: 1.2fr 1fr;
  }

  .main__sec__cta {
    margin-top: unset;
  }

  .main__sec2__discover {
    margin-bottom: unset;
  }


  .main__sec2__discover > p {
    text-align: justify;
    color: rgb(78, 70, 67);
  }

  /* move images to bottom of container div */
  .img-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .main__sec2__sample h2 {
    margin-right: auto;
    margin-left: unset;
  }

  .best {
    margin-left: unset;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }
}

@media only screen and (max-width:300px) {
  .best {
    display: none;
  }
}
