*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

body {
  min-height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #C2CAD0;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: underline;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.body--1 {
  margin: 0;
  background-color: #C2CAD0;
}

.body--2 {
  background-color: #FFF;
  padding-bottom: 40px;
}

.main-body__login {
  grid-area: "sgnin";
}

.main-body__signup {
  grid-area: "sgnup";
}

.main-body--2__aside {
  grid-area: "aside";
  background-color: inherit;
  justify-content: center;
  display: grid;
  min-height: 100vh;
}



@media only screen and (min-width:800px) {
  .main-body--2__aside--nav {
    justify-content: flex-start;
    position: sticky;
    top: 100px;
    overflow: auto;
    min-height: unset;
    height: calc(100vh - 100px);
  }

  .main-body--2__aside--nav .dropbtn {
    display: none;
  }

  .main-body--2__aside--nav nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .main-body--2__aside--nav nav a {
    flex-basis: 100%;
    display: block;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
  }

  .main-body--2__aside--nav nav a:first-child {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .main-body--2__aside--nav nav a:last-child {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
  }


  .main-body--2__aside--nav nav a:last-child {
    margin-bottom: unset;
  }
}


.body--1__header {
  background: linear-gradient(to bottom, #AFD275, #C2CAD0) !important;
}

.body--1__footer {
  background-color: #C2CAD0;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #afd275;
  padding: 1rem;
  z-index: 2;
}

.main-body {
  display: grid;
  grid-template-columns: 70%;
  grid-template-areas: "sgnin"
                       "sgnup";
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  padding: 25px;
}

.main-body--2 {
  display: grid;
  grid-template-columns: 90%;
  justify-content: flex-start;
  grid-column-gap: 10px;
}

@media only screen and (min-width: 800px) {
  .main-body {
    grid-template-columns: 40% 50%;
    grid-template-areas: "sgnin sgnup";
    justify-content: space-around;
  }

  .main-body--2 {
    grid-template-columns: 200px 1fr;
    grid-template-areas: "aside main-sec";
    justify-content: flex-start;
  }

}

.main-body--2__section, .main-body--2__section--1 {
  display: grid;
  grid-area: "main-sec";
  grid-template-columns: 90%;
  align-self: flex-start;
  grid-row-gap: 15px;
  padding: 30px;
}

@media only screen and (min-width: 800px) {
  .main-body--2__section {
    grid-template-columns: 35% 35%;
    grid-column-gap: 40px;
  }

  .main-body--2__section--columns {
    grid-template-columns: 90%;
  }

  .main-body--2 .main-body--2__section--1 {
    grid-template-columns: 70%;
  }
}

@media only screen and (min-width:1000px) {
  .main-body--2__section {
    grid-template-columns: 30% 30%;
    grid-column-gap: 50px;
  }

  .main-body--2__section--columns {
    grid-template-columns: 90%;
  }
}

.sr-only {
  display: none;
}

.btn {
  height: 30px;
  border-radius: 4px;
  border-style: unset;
  min-width: 80px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-1 {
  background-color: #E7717D !important;
  color: #FFF;
}

.btn-1:hover {
  background-color: #a25058;
}

.btn-2 {
  background-color: #C2CAD0;
}

.btn-1:hover {
  background-color: #8A434B;
}

.fieldset-control {
  border: unset;
  padding: unset;
  margin-bottom: 10px;
}

.input-control {
  width: 100%;
  min-height: 30px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 4px;
}

.header-control {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 100px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 20;
  flex-flow: row-reverse;
}

@media only screen and (min-width:800px) {
  .header-control {
    flex-flow: row;
  }
}

.header-control nav {
  display: flex;
  flex-direction: column;
}

/* .header-control p:not(:last-child) {
  margin-right: 15px;
} */

.card:not(.card--2) {
  display: flex;
  padding: 10px 5px;
  border-radius: 4px;
  justify-content: space-around;
  background-color: #E7717D;
  background: linear-gradient(to top left, #EE9DA5, #E7717D, #9a8171);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 #dd3748;
  max-height: 150px;
  overflow: visible;
}

.card.card--2 {
  display: flex;
  flex-flow: column;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  word-wrap: break-word;
  box-shadow: 0 2px 5px 0 #bdb76b;
  overflow: visible;
}

.card:not(.card--2):hover {
  box-shadow: 0 8px 16px 0 #dd3748;
}

.card-body {
  padding: 15px;
}

.card-body:hover {
}

.expand {
  background-image: url("../assets/images/arrow.svg");
  display: block;
  float: right;
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
  transition: 0.3s;
}

.expand:hover, .hamburger:hover {
    cursor: pointer;
    height: 2.1em;
    width: 2.1em;
}


.details {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #FFF;
  transition: 0.5s;
  transition-timing-function:  ease-in-out;
  padding: 15px;
  overflow: auto;
}

.close-card {
  float: right;
  /* clear: both; */
  font-size: 45px;
  margin-top: -15px;
}

.close-card:hover {
  cursor: pointer;
}

.card__pix img {
  height: 100px;
  max-width: 100%;
  display: none;
}

.card__body {
  flex: auto;
}

@media only screen and (min-width:850px) and (max-width:1000px) {
  .detail-body {
    height: calc(100% + 50px);
  }
}

.main-body--2__section > .card:last-child {
  margin-bottom: 15px;
}

.main-body--2__section > .card:first-child {
  margin-top: 15px;
}

.card__body__detail {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.card__body__detail .btn {
  background-color: #084A83;
  color: #FFF;
}

.card__body__detail .badge {
  align-self: flex-start;
}

.card__body__detail .btn:hover {
  background-color: #04326dfc;
}

.action {
  position: absolute;
  bottom: 15px;
  left: 15px;
  top: 100%;
  margin-top: -60px;
  display: none;
  transition: 0.3s;
}

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  width: 100%;
}

.card-title {
  margin-bottom: 0.75rem;
  font-weight: lighter;
  font-size: large;
}

h4.card-title:hover {
}

h4.card-title:hover {
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
  color: #6c757d;
}

.card--baseline {
  position: relative;
  box-shadow: unset;
}

.card--baseline:hover {
  box-shadow: 0 4px 4px 0 grey;
}

.card__body__detail__action {
  background-color: #AFD275;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


.card__body__detail__action div {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.card__body__detail__action div button {
  font-weight: 600;
  text-transform: uppercase;
  background-color: inherit;
  outline: none;
  border: unset;
  border-radius: unset;
  box-shadow: none;
  flex-basis: 100%;
}

.card__body__detail__action div button:hover {
  background-color: #026f87;
  color: #FFF;
}




@media only screen and (min-width:800px) {
  .card__body {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
  }

  .card__pix {
    flex: 1;
    align-self: center;
  }

  .main-body--2__section > .card:nth-last-child(2) {
    margin-bottom: 15px;
  }

  .main-body--2__section > .card:nth-child(2) {
    margin-top: 15px;
  }

  .card__pix img {
    display: unset;
  }
}

.badge {
  border-radius: 10px;
  padding: 4px;
  color: #FFF;
  font-size: 0.7rem;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
}

.badge--1 {
  background-color: #7E685A;
}

.badge--2 {
  background-color: #E771FD;
}

.badge--3 {
  background-color: #C2CAD0;
}

.badge--4 {
  background-color: #AFD275;
}

.card__body__heading {
  color: #dfe3e6;
  font-size: 1.1rem;
  flex-basis: 100%;
  font-weight: 600;
  margin-top: -20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 4rem;
  font-weight: bold;
  display: block;
  position: fixed;
  top: -20px;
  right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

th {
  text-align: inherit;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  user-select: none;
  border-collapse: collapse;
}

.table caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: top;
}

.table th,
.table td {
  padding: 0.3rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

@media only screen and (min-width:800px) {
  .table th,
  .table td {
    padding: 0.75rem;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
  background-color: #BBB;
}

.active {
  background-color: #AFD275 !important;
  color: #FFF;
}




.modal__card__body__sum__detail {
  display: flex;
  justify-content: space-around;
  padding: 20px 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__card__body__sum__detail:not(:last-child) {
  box-shadow: 0 0.09rem 0.09rem 0 #C2B9B0;
}

.modal__card__body__sum__detail > h3:last-child {
  background: #CCC;
  text-align: center;
  flex-basis: 100%;
  margin-right:
}

.modal__card__body__sum__detail > strong {
  flex-basis: 100%;
  font-size: 1.1rem;
}

.modal__card__body__sum__detail div {
  display: flex;
  flex-direction: column;
}

.modal__card__body__sum__detail div > span:not(:first-child) {
  margin-top: 10px;
}

.modal__card__body__sum > div.first {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.modal__card__body__sum > div.first > .badge, .modal__card__body__sum__detail > div > .badge {
  font-size: 1rem;
  align-self: center;
  padding: 6px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 65%;
  margin-left: 15px;
  font-weight: 600;
}

.modal__card__body__sum > div.first > .badge, .modal__card__body__sum__detail > div > .badge:nth-child(2) {
  border-radius: 1.5rem;
}

.modal__card__body__sum__detail > div > .badge {
  margin-left: unset;
}

.modal__card__body__sum > div.first > .card {
  /* flex: 5; */
}

.modal__card__body {
  height: auto;
}

.modal__card__title {
  color: #FFF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal__card__header {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #7E685A;
  padding-right: 20px;
  padding-left: 20px;
  background: #C2B9B0;
}


.modal__card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 1.3px 2px 0 #7E685A;
}

div.first:not(:only-child) {
  flex-wrap: wrap;
}

div.first:not(:only-child) ul {
  flex-basis: 100%;
}

@media only screen and (min-width:800px) {
  div.first:not(:only-child) .card {
    max-width: 60%;
  }
}


div.first:not(:only-child):not(:last-child) {
  box-shadow: 0 0.09rem 0.09rem 0 #C2B9B0;
}

/* caterer forms */
.modal-content--form {
  padding: 20px;
  border: 1px solid #888;
}


@media only screen and (max-width:799px) {

  .main-body--2__aside {
    display: unset;
    min-height: unset;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 20px solid black;
    display: inline-block;
    padding: unset;
    margin-bottom: 15px;
    margin-left: 15px;
    color: black;
    border-bottom-style: none;
  }


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      top: 25px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      border-top-color: #3e8e41;
  }
}

.card-columns {
  column-count: 1;
  column-width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.card-columns > .card {
  margin-bottom: 1rem;
  break-inside: avoid;
}

@media only screen and (min-width:500px) {

  .card-columns {
    column-count: 2;
  }

}

@media only screen and (min-width:700px) {

  .card-columns {
    column-count: 3;
  }

}

@media only screen and (min-width:850px) {

  .card-columns {
    column-count: 4;
  }

}

.hamburger {
  height: 1.2rem;
  width: 1.2rem;
  background-image: url("../assets/images/menu.svg");
  display: inline-block;
  padding: 15px;
  margin-top: 30px;
}

.side-nav {
  height: 100%;
  position: fixed;
  padding: 50px;
  padding-left: 30px;
  padding-right: 40px;
  transition: 0.5s;
  z-index: 1;
  left: -300px;
  top: 100px;
  opacity: 0.9;
  overflow-x: hidden;
  background: linear-gradient(to top, #afd275, #7E6859, #E7717D, #afd275);
}

.side-nav a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  display: block;
  transition: 0.3s;
}

a#btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    display: none;
}

.logo {
  color: #FFEB3B;
  font-family: 'Great Vibes', cursive;
  font-size: 4.2rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.logo--main {
  margin-top: unset;
  color: #E7717D;
}

@media only screen and (max-width:500px) {
  .logo--main {
    font-size: 3.8rem;
    margin-top: 1.5rem;
    margin-left: auto;
  }
}

.side-nav a:hover {
  color: #FFF;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (min-width:800px) {
  .hamburger {
    display: none;
  }

  .side-nav {
    display: block;
    left: 0 !important;
  }

  a#btn-close {
    display: none;
  }
}

/*
utility classes
*/


.text-muted {
  color: #6c757d;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.ellipsis {
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
